    <hr />
    <div class="container">
       <!-- Footer -->
       <footer>
           <div class="container">
               <div class="row">
                   <ul class="list-inline">
                     <li>Follow Ronald @</li>
                     <li><a href="http://www.linkedin.com/in/ronaldbradford">LinkedIn <i class="fa fa-linkedin"></i></a></li>
                     <li><a href="https://github.com/ronaldbradford">GitHub <i class="fa fa-github"></i></a></li>
                     <li><a href="http://twitter.com/ronaldbradford">Twitter <i class="fa fa-twitter"></i></a></li>
                     <li><a href="http://www.slideshare.net/ronaldbradford">SlideShare <i class="fa fa-slideshare"></i></a></li>
                     <li><a href="https://bitbucket.org/ronaldbradford">BitBucket <i class="fa fa-bitbucket"></i></a></li>
                     <li><a href="http://google.com/+RonaldBradford">Google+ <i class="fa fa-google-plus-square"></i></a></li>
                     <li><a href="http://www.quora.com/Ronald-Bradford">Quora</a></li>
                     <li><a href="https://en.wikipedia.org/wiki/Ronald_Bradford">Wikipedia</a></li>
                     <li><a href="http://www.amazon.com/Ronald-Bradford/e/B005VKL99U">Amazon</a></li>
                     <li><a href="http://it.toolbox.com/people/ronaldbradford/">IT Toolbox</a></li>
                     <li><a href="http://about.me/ronaldbradford">About Me</a></li>
                     <li><a href="https://disqus.com/by/ronaldbradford/">Disqus</a></li>
                     <li><a href="http://www.barnesandnoble.com/c/ronald-bradford/">Barnes & Noble</a></li>
                   </ul>
               </div> <!-- row -->
               <div class="row text-center copyright">
                   &copy; 2007-2015. All Rights Reserved by Ronald Bradford.
               </div> <!-- row -->
           </div> <!-- container -->
       </footer>
   
    </div> <!-- /.container -->
